@media screen and (max-width: 570px) {
  .main-content {
    flex-direction: column;
  }
}

:root {
  --rect-height: 4.5rem;
  --round-corners: 2rem;
  --pill-inside-margin: -5vw;
  --pill-text-color: yellow;
  --x-color-faint: #90e1d5;
  --x-color-light: lightseagreen;
  --x-color-medium: teal;
  --x-color-dark: darkslategray;
  --o-color-light: darkorange;
  --o-color-medium: chocolate;
  --o-color-dark: sienna;
  --input-text-color: #494e59;
  --input-background-color: #fffae5;
  --bar-border-color: #c51212;
  --bar-background-color: #ffc8a8;
  --body-background-color: #f4e3c3;
  /* Together, the following two variables control the thickness of the
	   board lines. Changing the thickness requires updating both variables. */
  --grid-gap: 7.8%;
  --hash-weight: 28%;
}

body {
  background: var(--body-background-color);
  font-family: sans-serif;
}

.main-content {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 100vh;
  max-height: 0;
  min-height: 0;
  width: 100%;
}

.pill-flex-container {
  flex-grow: 30;
  display: flex;
  justify-content: center;
  padding: 0vw 5vw;
  z-index: 1;
}

.board-flex-container {
  flex-grow: 1;
  width: 50vh;

  background: transparent;
  border: 0px solid deeppink;
}

.pill {
  display: flex;
  flex-grow: 1;
  border-radius: var(--round-corners);
  overflow: hidden;
  height: var(--rect-height);
  min-width: 15rem;
  max-width: 20rem;
  margin-top: 8vh;
}

.first-pill {
  margin-right: var(--pill-inside-margin);
}

.last-pill {
  margin-left: var(--pill-inside-margin);
}

.pill-section {
  flex-grow: 1;
  color: var(--pill-text-color);
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: var(--rect-height);
}

/********************
       X Player      
 ********************/
.x-player .mark {
  background: var(--x-color-light);
}

.x-player .player-name {
  background: var(--x-color-medium);
}

.x-player .score {
  background: var(--x-color-dark);
}

/********************
       O Player      
 ********************/
.o-player .mark {
  background: var(--o-color-light);
}

.o-player .player-name {
  background: var(--o-color-medium);
}

.o-player .score {
  background: var(--o-color-dark);
}

.toggle-tab {
  display: block;
  position: fixed;
  left: 1.5rem;
  height: 6.7rem;
  width: 2.21rem;

  color: var(--bar-border-color);
  background: var(--bar-background-color);
  text-decoration: none;
  font: bold 1.8rem sans-serif;
  border-width: 3px 3px 0 3px;
  border-style: solid;
  border-color: var(--bar-border-color);
  border-radius: 2rem 2rem 0 0;
}

.toggle-tab span {
  display: block;
  text-align: end;
  transform: rotate(-90deg);
  width: 4.8rem;
  padding: 0px 1rem 0 0;
  margin: 1.6rem 0 0 -1.95rem;
}

.bottom-bar,
.toggle-tab,
.toggle-tab span,
.expanded-position {
  bottom: -4.3rem;
  transition: 350ms ease-in-out;
}

.expanded-position {
  bottom: 0;
}

.bottom-bar {
  position: fixed;
  left: 3.9rem;
  right: 1.5rem;
  height: var(--rect-height);

  background: var(--bar-background-color);
  border-width: 3px 3px 0px 0px;
  border-style: solid;
  border-color: var(--bar-border-color);
  border-radius: 0 var(--round-corners) 0 0;
}

fieldset {
  border-style: none;
}

.input-pill {
  display: flex;
  height: 2.4rem;
  padding: 0;
  margin: 1rem 0 0 3rem;
}

.text-field-label {
  color: var(--input-text-color);
  font-size: 1rem;
  line-height: 1.5rem;
  white-space: nowrap;
  padding: 0.4rem 0.4rem 0.4rem 0.7rem;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--round-corners) 0 0 var(--round-corners);
  transition: background 300ms ease, border 300ms ease, color 300ms ease;
}

.x-player label {
  background: var(--x-color-faint);
  border-color: #76b8ae;
}

.input-pill:focus-within label {
  color: white;
  background: var(--x-color-medium);
  border-color: var(--x-color-dark);
}

.text-field {
  color: var(--input-text-color);
  font-family: sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0 0.6rem;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--input-background-color);
  border-radius: 0 var(--round-corners) var(--round-corners) 0;
  background: var(--input-background-color);
  transition: border 300ms ease;
}

.text-field:focus {
  outline: none;
  border-color: var(--bar-border-color);
}

.board-sizing-utility {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 30vh;
  padding-bottom: 100%;
  justify-content: center;

  background: transparent;
  border: 0px solid firebrick;
}

.hash-board {
  position: absolute;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  min-height: 10rem;
  min-width: 10rem;
  text-align: center;
}

hr {
  position: relative;
  overflow: visible;
  border: none;
  margin: 0;
}

hr::before,
hr::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: var(--hash-weight);
  border-radius: var(--round-corners);

  background: navy;
}

/********************
  Center Hash Column
 ********************/
.center-hash-col {
  grid-area: 1 / 2 / 4 / 3;
}
.center-hash-col::before {
  left: calc(-1 * var(--hash-weight));
}
.center-hash-col::after {
  left: inherit;
  right: calc(-1 * var(--hash-weight));
}

/********************
   Center Hash Row
 ********************/
.center-hash-row {
  grid-area: 2 / 1 / 3 / 4;
}
.center-hash-row::before,
.center-hash-row::after {
  height: var(--hash-weight);
  width: 100%;
}
.center-hash-row::before {
  top: calc(-1 * var(--hash-weight));
}
.center-hash-row::after {
  bottom: calc(-1 * var(--hash-weight));
}

/********************
        Cells        
 ********************/
#a,
#b,
#c,
#d,
#e,
#f,
#g,
#h,
#i {
  opacity: 0.45;
}

#a {
  grid-area: 1 / 1 / 2 / 2;
  background: aqua;
}

#b {
  grid-area: 1 / 2 / 2 / 3;
  background: blue;
}

#c {
  grid-area: 1 / 3 / 2 / 4;
  background: chocolate;
}

#d {
  grid-area: 2 / 1 / 3 / 2;
  background: darkslategray;
}

#e {
  grid-area: 2 / 2 / 3 / 3;
  background: #eeee5e;
}

#f {
  grid-area: 2 / 3 / 3 / 4;
  background: firebrick;
}

#g {
  grid-area: 3 / 1 / 4 / 2;
  background: green;
}

#h {
  grid-area: 3 / 2 / 4 / 3;
  background: hotpink;
}

#i {
  grid-area: 3 / 3 / 4 / 4;
  background: indigo;
}
