@media screen and (max-width: 570px) {
  .main-content {
    flex-direction: column;
  }
}

:root {
  --rect-height: 4.5rem;
  --round-corners: 2rem;
  --pill-inside-margin: -5vw;
  --pill-details: greenyellow;
  /* Together, the following two variables control the thickness of the
	   board lines. Changing the thickness requires updating both variables. */
  --grid-gap: 7.8%;
  --hash-weight: 28%;
}

body {
  background: tan;
}

.main-content {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 100vh;
  max-height: 0;
  min-height: 0;
  width: 100%;
}

.pill-flex-container {
  flex-grow: 30;
  display: flex;
  justify-content: center;
  padding: 0vw 5vw;
  z-index: 1;
}

.board-flex-container {
  flex-grow: 1;
  width: 50vh;

  background: transparent;
  border: 0px solid deeppink;
}

.pill {
  display: flex;
  flex-grow: 1;
  border-radius: var(--round-corners);
  overflow: hidden;
  height: var(--rect-height);
  min-width: 15rem;
  max-width: 20rem;
  margin-top: 8vh;
}

.first-pill {
  margin-right: var(--pill-inside-margin);
}

.last-pill {
  margin-left: var(--pill-inside-margin);
}

.pill-mark,
.pill-name,
.pill-score {
  flex-grow: 1;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: var(--rect-height);

  color: var(--pill-details);
}

.pill-mark {
  background: teal;
}

.pill-name {
  background: seagreen;
  border: solid var(--pill-details);
  border-width: 0px 4px;
}

.pill-score {
  background: darkslategray;
}

.toggle-tab {
  display: block;
  position: fixed;
  left: 1.5rem;
  height: 6.7rem;
  width: 2.21rem;

  color: royalblue;
  background: lightskyblue;
  text-decoration: none;
  font: bold 1.8rem sans-serif;
  border-width: 3px 3px 0 3px;
  border-style: solid;
  border-color: royalblue;
  border-radius: 2rem 2rem 0 0;
}

.toggle-tab span {
  display: block;
  text-align: end;
  transform: rotate(-90deg);
  width: 4.8rem;
  padding: 0px 1rem 0 0;
  margin: 1.6rem 0 0 -1.95rem;
}

.bottom-bar {
  position: fixed;
  left: 3.9rem;
  right: 1.5rem;
  height: var(--rect-height);

  background: lightskyblue;
  border-width: 3px 3px 0px 0px;
  border-style: solid;
  border-color: royalblue;
  border-radius: 0 var(--round-corners) 0 0;
}

.bottom-bar,
.toggle-tab,
.toggle-tab span,
.expanded-position {
  bottom: -4.3rem;
  transition: 350ms ease-in-out;
}

.expanded-position {
  bottom: 0;
}

.board-sizing-utility {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 30vh;
  padding-bottom: 100%;
  justify-content: center;

  background: transparent;
  border: 0px solid firebrick;
}

.hash-board {
  position: absolute;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  min-height: 10rem;
  min-width: 10rem;
  text-align: center;
}

hr {
  position: relative;
  overflow: visible;
  border: none;
  margin: 0;
}

hr::before,
hr::after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: var(--hash-weight);
  border-radius: var(--round-corners);

  background: navy;
}

/********************
  Center Hash Column
 ********************/
.center-hash-col {
  grid-area: 1 / 2 / 4 / 3;
}
.center-hash-col::before {
  left: calc(-1 * var(--hash-weight));
}
.center-hash-col::after {
  left: inherit;
  right: calc(-1 * var(--hash-weight));
}

/********************
   Center Hash Row
 ********************/
.center-hash-row {
  grid-area: 2 / 1 / 3 / 4;
}
.center-hash-row::before,
.center-hash-row::after {
  height: var(--hash-weight);
  width: 100%;
}
.center-hash-row::before {
  top: calc(-1 * var(--hash-weight));
}
.center-hash-row::after {
  bottom: calc(-1 * var(--hash-weight));
}

/********************
    Tiles / Cells    
 ********************/
#a,
#b,
#c,
#d,
#e,
#f,
#g,
#h,
#i {
  opacity: 0.45;
}

#a {
  grid-area: 1 / 1 / 2 / 2;
  background: aqua;
}

#b {
  grid-area: 1 / 2 / 2 / 3;
  background: blue;
}

#c {
  grid-area: 1 / 3 / 2 / 4;
  background: chocolate;
}

#d {
  grid-area: 2 / 1 / 3 / 2;
  background: darkslategray;
}

#e {
  grid-area: 2 / 2 / 3 / 3;
  background: #eeee5e;
}

#f {
  grid-area: 2 / 3 / 3 / 4;
  background: firebrick;
}

#g {
  grid-area: 3 / 1 / 4 / 2;
  background: green;
}

#h {
  grid-area: 3 / 2 / 4 / 3;
  background: hotpink;
}

#i {
  grid-area: 3 / 3 / 4 / 4;
  background: indigo;
}
